# ========================
# Common Node.js patterns
# ========================
# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
*.env*
!.env.example

# Testing
coverage/
.nyc_output/

# Temporary files
.temp/
.tmp/

# ========================
# Build outputs & caches
# ========================
build/
dist/
.cache/
.parcel-cache/
.turbo/

# ========================
# IDEs & OS
# ========================
# VS Code
.vscode/

# JetBrains IDEs
.idea/
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Build output
.next/

# Env files
.env
.env.*

# lock files
package-lock.json
**/package-lock.json

# Prisma/SQLite
/apps/backend/data/
/apps/backend/prisma/*.db
/apps/backend/prisma/.env
/prisma/*.db
/prisma/.env

# Prisma generated client (si lo generas fuera de node_modules)
/.prisma/

# Node modules
/node_modules/

